{% extends '::base.html.twig' %}
{% set topNavigationActivePage = 'get_vehicles' %}
{% block body %}
<div class="dataGrid" data-gridid="{{ rowIdPrefix }}">
    {% embed 'TixiApiBundle:Shared:datagrid.table.html.twig'%}
        {% block customListActionControl %}
            {% embed 'TixiApiBundle:Shared:datagrid.list.selectedAction.html.twig' %}
                {% block selectedactions %}
                    <li><a data-targetSrc="{{ path('edit_vehicle',{'vehicleId':'--selectionid--'}) }}" class="customActionWithSelection" href="#">Editieren</a></li>
                    <li><a data-targetSrc="{{ path('new_vehicle_serviceplan',{'vehicleId':'--selectionid--'}) }}" class="customActionWithSelection" href="#">Neuer Serviceplan</a></li>
                    <li class="divider"></li>
                    <li><a data-targetSrc="{{ path('edit_vehicle',{'vehicleId':'--selectionid--'}) }}" class="customActionWithSelection" href="#">Löschen</a></li>
                {% endblock %}
            {% endembed %}
            <button type="button" class="btn btn-primary customAction" data-targetSrc="{{ path('new_vehicle') }}">Neues Fahrzeug</button>
        {% endblock %}
    {%  endembed %}
</div>
{% endblock %}
{% block javascriptscustom %}
    <script type="text/javascript">
        jQuery(function($) {
            var dataGridManager = new DataGridManager(),
                    conf = {
                        'vehicles' : {
                            'dblClickCallback' : function(rowId) {
                                var _url = '{{ path('get_vehicle',{'vehicleId':'--vehicleId--'}) }}';
                                _url = _url.replace('--vehicleId--',rowId);
                                window.location = _url;
                            }
                        }
                    };
            dataGridManager.initDataGrids(conf);
        });
    </script>
{% endblock %}