<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>iTixi</title>
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    {#<link rel="stylesheet" href="{{ asset('css/vendor/bootstrap-theme.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/tixiBootstrapTheme.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.css') }}">
    {% block stylesheetcustom %}{% endblock %}
    <script src="{{ asset('js/jquery-1.10.1.js') }}"></script>
    <script src="{{ asset('js/jqueryui/jquery-ui-1.10.4.custom.js') }}"></script>
</head>
<body>
<div class="container">
    <section>
        <div class="header">
            <div class="pull-left">
                <h3 class="text-muted">
                    <img src="{{ asset('images/logo32px.png') }}" alt="Logo iTIXI"/>
                    iTixi 2.0.2
                </h3>
            </div>
            <div class="pull-right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {% include '::topAction.html.twig' %}

            {% else %}

                {% include '::topActionLogin.html.twig' %}

            {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
        {% include '::topNavigation.html.twig' %}
    </section>
    <section>
        <div class="pull-left">
            <div class="row">
                {{ apy_breadcrumb_trail_render() }}
            </div>
        </div>
        <div class="pull-right">
            <div class="row">
                <div class="btn-group-main">
                    <!-- <a href="{{ path('tixi_login') }}">Test</a> -->
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <div class="row">
        {% block body %}{% endblock %}
    </div>
    <div class="row">
        <hr>

        <footer>
            <p>&copy; Company 2013</p>
        </footer>
    </div>
</div>
<!-- /container -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('bundles/tixiapi/js/dataGrid.js') }}"></script>

{% block javascriptscustom %}{% endblock %}


</body>
</html>
