<div class="upperRightMargin">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>
            {{ app.user.username }} <a href="{{ path('tixi_logout') }}">{% trans %}button.logout{% endtrans %}</a>
        </div>
            <div>
                <a href="{{ path('tixiapi_users_get') }}">{% trans %}button.settings{% endtrans %}</a>
                |
                <a href="{{ path('tixiapi_home') }}">{% trans %}button.help{% endtrans %}</a>
            </div>
    {% else %}
        <div>
            <a href="{{ path('tixi_login') }}">{% trans %}button.login{% endtrans %}</a>
        </div>
    {% endif %}
</div>
