{% extends '::base.html.twig' %}
{% set topNavigationActivePage = 'tixiapi_home' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="col-md-6">
                <h2 class="text-muted">{% trans %}about.tile.name{% endtrans %}</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="container">
            <div class="frame">
                <div class="frame-table">
                    <div class="frame-row">
                        <div class="frame-left">
                            <h3><img src="{{ asset('images/about/traffic_sign.png') }}" alt="Verkehrstafel 'Arbeit'" height="37" width="44"/>
                                iTixi Entwicklungsteam</h3>

                            <p>Die iTixi Applikation wurde ermöglicht durch die frewillige Mitarbeit und Beiträgen von
                                folgenden Personen (Organisationen):<br>
                                Yeldez Gwerder (TIXIZUG), Josef Conrad (ehemals UBS), Martin Jonasse (ehemals CS),
                                Stefan Keller (HSR), Carmelo Schumacher (HSR), Reto Schelbert (HSR).
                            </p>
                            <p>Für Details, siehe Open Source Projekt in <a href="http://sourceforge.net/projects/itixi/">SourceForge</a>.
                            </p>
                        </div>
                    </div>

                    <div class="frame-row">
                        <div class="frame-left">
                            <h3><img src="{{ asset('images/logo44px.png') }}" alt="iTixi Logo"/>
                                iTixi Lizenzbedingungen</h3>

                            <p>
                                Programmcode und Source des iTixi Projektes sind gemäss der GNU General Public License
                                veröffentlicht und frei verfügbar unter <a href="http://sourceforge.net/projects/itixi/files/">Sourceforge</a> .
                                Die iTixi Applikation untersteht der GNU General Public License Version 2.
                                Diese Lizenz kann auf dieser Seite (weiter unten) eingesehen werden (Englisch, Originaltext).
                            </p>

                        </div>
                    </div>

                    <div class="frame-row">
                        <div class="frame-left">
                            <h3><img src="{{ asset('images/about/symfony_logo.png') }}" alt="Symfony Logo" height="44" width="44"/>
                                Symfony (MIT) Lizenzbedingungen</h3>

                            <p>Siehe Symfony Webseite
                                <a href="http://symfony.com/doc/current/contributing/code/license.html">
                                    http://symfony.com/doc/current/contributing/code/license.html
                                </a>
                            </p>

                            <p>Bemerkung:
                                <br>The MIT license is also GPL-compatible, meaning that the GPL permits
                                combination and redistribution with software that uses the MIT License.</p>
                        </div>
                    </div>

                    <div class="frame-row">
                        <div class="frame-left">
                            <h3><img src="{{ asset('images/about/jquery-logo-official.jpg') }}" alt="jQuery Logo"height="44" width="44"/>
                                jQuery (MIT) Lizenzbedingungen</h3>

                            <p>Siehe jQuery Webseite
                                <a href="https://jquery.org/license/">
                                    You may use any jQuery project under the terms of the MIT License.
                                </a>
                            </p>

                            <p>Bemerkung:<br>The MIT license is also GPL-compatible, meaning that the GPL permits
                                combination and redistribution with software that uses the MIT License.</p>
                        </div>
                    </div>

                    <div class="frame-row">
                        <div class="frame-left">
                            <h3><img src="{{ asset('images/about/osm.png') }}" alt="OSM Logo" height="40"/>
                                OpenStreetMap (ODbL) Lizenzbedingungen</h3>
                            <p>
                                Es werden OpenStreetMap Daten für die Berechnung von Fahrten verwendet.
                                Angaben zur Nutzung sind
                                <a href="http://www.openstreetmap.org/copyright">hier</a> ersichtlich.
                            </p>
                        </div>
                    </div>

                    <div class="frame-row">
                        <div class="frame-left">
                            <h3><img src="{{ asset('images/about/osrm.png') }}" alt="OSRM Logo" height="40"/>
                                OSRM (AGPL) Lizenzbedingungen</h3>
                            <p>
                               Um die Fahrten aus den OSM Daten zu berechnen wir die Open Source Routing Machine OSRM verwendet.
                                <a href="https://github.com/DennisOSRM/Project-OSRM/blob/master/LICENCE.TXT">Lizenz</a> zur freien Nutzung.
                            </p>
                        </div>
                    </div>

                    <div class="frame-row">
                        <div class="frame-left">
                            <h3><img src="{{ asset('images/about/google_maps_logo.png') }}" alt="Google Maps Logo" height="55" width="44"/>
                                Google Maps Lizenzbestimmungen</h3>
                            <p>
                                Die iTixi Applikation verwendet Google Maps API (ein kostenloser Google-Dienst, der es
                                ermöglicht Address-Abfragen zu tätigen und Google Maps in dieser Applikation einzubetten).
                                Die Lizenbedingungen sind
                                <a href="https://developers.google.com/maps/licensing?hl=de">hier</a> ersichtlich.
                            </p>

                            <p>
                                Die iTixi Applikation beschränkt die Anzahl Abfragen pro Tag bei Google Maps API auf die frei zugängliche Menge.
                                <a href="https://www.google.com/intl/de_ch/earth/outreach/grants/software/mapsapi.html">(link)</a>.
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="frame-row">
                        <div class="frame-left">
                            {{ include(
                            'TixiApiBundle:Home:gpl_license.html.twig'
                            ) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}