{# src/Tixi/App/DriverRecurringTaskBundle/Resources/views/Default/index.html.twig #}
{# 22.01.2014 martin jonasse initial file #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block content %}
    {# render a form for the variable myform ............ form_dauereinsatzplan #}
    <div class="content-wrapper">
        <form name="tixi_form"
              action="{{ path( app.request.attributes.get('_route'), {'action':'save'} ) }}"
              method="POST">

            <table class="VierQuadForm" summary="Auswahlformular mit 4 Quadranten">
                <tbody>
                <tr>
                    <td>
                        <p class="control-standard">
                            {# dauereinsatzplan_id ............ #}
                            {% set record = myform.0 %}
                            <label for="fpw_{{ record.Field }}">{{ record.Field }}</label>
                            <input name="{{ record.Field }}"
                                   id="fpw_{{ record.Field }}"
                                   type="number"
                                   value="{{ record.Value }}"
                                   title="{{ record.Comment }}"
                                   disabled
                                    />
                            {# dauereinsatzplan.istAktive  ............ #}
                            {% set record = myform.4 %}
                            <input name="{{ record.Field }}"
                                   type="hidden"
                                   value="0">
                            <input name="{{ record.Field }}"
                                   id="fpw_{{ record.Field }}"
                                   type="checkbox"
                                   value="1"
                                   title="{{ record.Comment }}"
                                    {% if record.Value == "1" %} checked{% endif %}
                                   style="width: 20px">
                            istAktive
                        </p>

                        <p class="control-standard">
                            {# dauereinsatzplan_betreff  ............ #}
                            {% set record = myform.2 %}
                            <label for="fpw_{{ record.Field }}">{{ record.Field }}</label>
                            <input required
                                   name="{{ record.Field }}"
                                   id="fpw_{{ record.Field }}"
                                   type="text"
                                   value="{{ record.Value }}"
                                   title="{{ record.Comment }}"
                                    />
                            {% if record.Error != "" %}
                                <br><i id="fpr_{{ record.Field }}_error" style="color:red">{{ record.Error }}</i>
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        <p class="control-standard">
                            {# memo ............ #}
                            {% set record = myform.3 %}
                            <label for="fpw_{{ record.Field }}">{{ record.Field }}</label>
                            <textarea style="width: 480px; height: 50px;"
                                      name="{{ record.Field }}"
                                      id="fpw_{{ record.Field }}"
                                      title="{{ record.Comment }}"
                                    >{{ record.Value }}</textarea>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Klicken Sie bitte auf die Wochentage, an denen gefahren werden soll:
                        </p>
                        <div class="recurring_weekday_picker">
                            <!--
                                This is where a new weekday picker is in the process of being born
                            -->
                            <table class="ui-datepicker-calender">
                                <tbody>
                                    <tr>
                                        <td class="ui-state-default ui-state-highlight ui-state-active"
                                            colspan="8"><b>Wochentag: wiederholt jede Woche oder monatlich</b></td>
                                    </tr>
                                    <tr class="weekly">
                                        <td class="ui-state-default ui-state-highlight ui-state-active">
                                            <b>jede Woche</b>
                                        </td>
                                        <td class="wdpicker ui-state-default" id="recur0-0" myday="Montag (jede Woche)">Mo</td>
                                        <td class="wdpicker ui-state-default" id="recur0-1" myday="Dienstag (jede Woche)">Di</td>
                                        <td class="wdpicker ui-state-default" id="recur0-2" myday="Mittwoch (jede Woche)">Mi</td>
                                        <td class="wdpicker ui-state-default" id="recur0-3" myday="Donnerstag (jede Woche)">Do</td>
                                        <td class="wdpicker ui-state-default" id="recur0-4" myday="Freitag (jede Woche)">Fr</td>
                                        <td class="wdpicker ui-state-default" id="recur0-5" myday="Samstag (jede Woche)">Sa</td>
                                        <td class="wdpicker ui-state-default" id="recur0-6" myday="Sonntag (jede Woche)">So</td>
                                    </tr>
                                    <tr class="monthly">
                                        <td class="ui-state-default ui-state-highlight ui-state-active">
                                            <b>1. Woche</b>
                                        </td>
                                        <td class="wdpicker ui-state-default" id="recur1-0" myday="Montag (1. Woche)">Mo</td>
                                        <td class="wdpicker ui-state-default" id="recur1-1" myday="Dienstag (1. Woche)">Di</td>
                                        <td class="wdpicker ui-state-default" id="recur1-2" myday="Mittwoch (1. Woche)">Mi</td>
                                        <td class="wdpicker ui-state-default" id="recur1-3" myday="Donnerstag (1. Woche)">Do</td>
                                        <td class="wdpicker ui-state-default" id="recur1-4" myday="Freitag (1. Woche)">Fr</td>
                                        <td class="wdpicker ui-state-default" id="recur1-5" myday="Samstag (1. Woche)">Sa</td>
                                        <td class="wdpicker ui-state-default" id="recur1-6" myday="Sonntag (1. Woche)">So</td>
                                    </tr>
                                    <tr class="monthly">
                                        <td class="ui-state-default ui-state-highlight ui-state-active">
                                            <b>2. Woche</b>
                                        </td>
                                        <td class="wdpicker ui-state-default" id="recur2-0" myday="Montag (2. Woche)">Mo</td>
                                        <td class="wdpicker ui-state-default" id="recur2-1" myday="Dienstag (2. Woche)">Di</td>
                                        <td class="wdpicker ui-state-default" id="recur2-2" myday="Mittwoch (2. Woche)">Mi</td>
                                        <td class="wdpicker ui-state-default" id="recur2-3" myday="Donnerstag (2. Woche)">Do</td>
                                        <td class="wdpicker ui-state-default" id="recur2-4" myday="Freitag (2. Woche)">Fr</td>
                                        <td class="wdpicker ui-state-default" id="recur2-5" myday="Samstag (2. Woche)">Sa</td>
                                        <td class="wdpicker ui-state-default" id="recur2-6" myday="Sonntag (2. Woche)">So</td>
                                    </tr>
                                    <tr class="monthly">
                                        <td class="ui-state-default ui-state-highlight ui-state-active">
                                            <b>3. Woche</b>
                                        </td>
                                        <td class="wdpicker ui-state-default" id="recur3-0" myday="Montag (3. Woche)">Mo</td>
                                        <td class="wdpicker ui-state-default" id="recur3-1" myday="Dienstag (3. Woche)">Di</td>
                                        <td class="wdpicker ui-state-default" id="recur3-2" myday="Mittwoch (3. Woche)">Mi</td>
                                        <td class="wdpicker ui-state-default" id="recur3-3" myday="Donnerstag (3. Woche)">Do</td>
                                        <td class="wdpicker ui-state-default" id="recur3-4" myday="Freitag (3. Woche)">Fr</td>
                                        <td class="wdpicker ui-state-default" id="recur3-5" myday="Samstag (3. Woche)">Sa</td>
                                        <td class="wdpicker ui-state-default" id="recur3-6" myday="Sonntag (3. Woche)">So</td>
                                    </tr>
                                    <tr class="monthly">
                                        <td class="ui-state-default ui-state-highlight ui-state-active">
                                            <b>4. Woche</b>
                                        </td>
                                        <td class="wdpicker ui-state-default" id="recur4-0" myday="Montag (4. Woche)">Mo</td>
                                        <td class="wdpicker ui-state-default" id="recur4-1" myday="Dienstag (4. Woche)">Di</td>
                                        <td class="wdpicker ui-state-default" id="recur4-2" myday="Mittwoch (4. Woche)">Mi</td>
                                        <td class="wdpicker ui-state-default" id="recur4-3" myday="Donnerstag (4. Woche)">Do</td>
                                        <td class="wdpicker ui-state-default" id="recur4-4" myday="Freitag (4. Woche)">Fr</td>
                                        <td class="wdpicker ui-state-default" id="recur4-5" myday="Samstag (4. Woche)">Sa</td>
                                        <td class="wdpicker ui-state-default" id="recur4-6" myday="Sonntag (4. Woche)">So</td>
                                    </tr>
                                    <tr class="monthly">
                                        <td class="ui-state-default ui-state-highlight ui-state-active">
                                            <b>5. Woche</b>
                                        </td>
                                        <td class="wdpicker ui-state-default" id="recur5-0" myday="Montag (5. Woche)">Mo</td>
                                        <td class="wdpicker ui-state-default" id="recur5-1" myday="Dienstag (5. Woche)">Di</td>
                                        <td class="wdpicker ui-state-default" id="recur5-2" myday="Mittwoch (5. Woche)">Mi</td>
                                        <td class="wdpicker ui-state-default" id="recur5-3" myday="Donnerstag (5. Woche)">Do</td>
                                        <td class="wdpicker ui-state-default" id="recur5-4" myday="Freitag (5. Woche)">Fr</td>
                                        <td class="wdpicker ui-state-default" id="recur5-5" myday="Samstag (5. Woche)">Sa</td>
                                        <td class="wdpicker ui-state-default" id="recur5-6" myday="Sonntag (5. Woche)">So</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>Die gewählten Wochentage erscheinen rechts, abwählen durch erneutes klicken.</p>
                        <p>Duplikate und Überlappungen mit anderen Dauerauftrage und Plänen sind möglich,<br>
                           bitte in Rapport in "Fahrer - Agenda" auf Konflikte kontrollieren.</p>
                    </td>
                    <td>
                        <p>Klicken Sie bitte auf die Schicht, während dessen gefahren werden soll:</p>
                        {# template for a list of shifts ............ #}
                        <div id="shifts" hidden>
                            {{ app.session.get('shiftsHTML') | raw }}
                        </div>
                        {# template for the trashcan image object ............ #}
                        <div id="trashcan" hidden>
                            <img src="{{ asset('images/trashcan.gif') }}"
                                 alt="Zeile löschen"
                                 onclick="deleteElement('task?')"/>
                        </div>
                        {#  jq_taskdatepicker - placeholder for tasks ............ #}
                        <div id="tasks">
                            {% for taskobject in mysubform %}
                                {{  taskobject | raw }}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script>
        {# javascript custom made for for this page only ............ #}

        $(".wdpicker").click(
                function(event)
                {/*
                  * for each wdpicker class element, add a task to the right pane conditionally ...
                  */
                    var shortid = event.target.id.toString().slice(-3);
                    var taskid = "task" + shortid;
                    var taskobj = document.getElementById(taskid);
                    if (taskobj == null)
                    { /* object doesn't exist: make a new object ----------------------------------- */
                        var trash = $("#trashcan").html().replace(/\?/g, shortid );
                        var prefix = "<p id=\"" + taskid + "\">" + trash +
                                     "<input type=\"text\" class=\"taskdate\" name=\"dienst" + shortid +
                                     "\" value=\"";
                        var myday = event.target.getAttribute("myday").toString();
                        var shifts = $("#shifts").html().replace(/\?/g, shortid );
                        var postfix = "\" disabled/>" + shifts + "</p>";
                        $("#tasks").append(prefix + myday + postfix);
                    }
                    else
                    {/* object already exists: remove the object ----------------------------------- */
                        taskobj.parentNode.removeChild(taskobj);
                    }
                    refreshWDP(); // refresh weekday picker
                }
        );

        $(document).ready(function(){
            // document is ready
            refreshWDP(); // refresh weekday picker
        });

        function refreshWDP()
        {/*
          * refresh the weekday picker display,
          * loop throgh all elements and mark those previously selected as orange
          * called after adding or deleting a task object and after opening page
          */
            var wdps = $(".wdpicker");
            for(idx in wdps){
                var wdp = wdps[idx];
                var shortid = wdp.getAttribute("id").toString().slice(-3);
                var taskobj = document.getElementById("task" + shortid);
                if (taskobj == null)
                {
                    wdp.setAttribute("class", "wdpicker ui-state-default");
                }
                else
                {
                    wdp.setAttribute("class", "wdpicker dp-highlight");
                }
            }
        };

    </script>
 {% endblock %}

