{# src\Tixi\Pub\AboutBundle\Resources\views\Default\index.html.twig #}
{# 21.08.2013 martin jonasse initial file #}
{# 22.08.2013 martin jonasse added gnu v2 text and symfony #}
{# 25.08.2013 martin jonasse corrections in german text #}
{# 03.09.2013 martin jonasse update for session variables #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block menubar %}{%  endblock %}

{% block subject %}{% endblock %}

{% block taskbar %}{% endblock %}

{% block content %}
<div class="frame">
    <div class="frame-table">
        <div class="frame-row">
            <div class="frame-logo">
                <img src="{{ asset('images/traffic_sign.png') }}" alt="Verkehrstafel 'Arbeit'" height="37" width="44"/>
            </div>
            <div class="frame-left">
                <h3>iTixi Entwicklungsteam</h3>
                <p>Die iTixi Applikation wurde ermöglicht durch freiwilligen Beiträge von den
                   folgenden Personen (Organisationen):<br>
                   Yeldez Gwerder (TIXIZUG), Josef Conrad (ehemals UBS), Martin Jonasse (ehemals CS),
                   Stefan Keller (HSR), Carmelo Schumacher (HSR).
                </p>
                <p>Für Details, siehe Open Source Projekt in <a href="http://sourceforge.net/projects/itixi/">SourceForge</a>.
                </p>
            </div>
        </div>

        <div class="frame-row">
            <div class="frame-logo">
                <img src="{{ asset('images/logo44px.png') }}" alt="iTixi Logo"/>
            </div>
            <div class="frame-left">
                <h3>iTixi Lizenzbedingungen</h3>
                <p>
                    Die Sourcen (Programme) des iTixi Projektes werden unter der OpenSource-Lizenz GPL veröffentlicht.
                    Die iTixi Applikation untersteht der GNU General Public License Version 2.
                    Dieser Lizenz kann unten (auf dieser Seite) eingesehen werden (Englisch, Originaltext).
                </p>

            </div>
        </div>

        <div class="frame-row">
            <div class="frame-logo">
                <img src="{{ asset('images/symfony_logo.png') }}" alt="Symfony Logo" height="44" width="44"/>
            </div>
            <div class="frame-left">
                <h3>Symfony (MIT) Lizenzbedingungen</h3>
                <p>Siehe Symfony Webseite
                    <a href="http://symfony.com/doc/current/contributing/code/license.html">
                        http://symfony.com/doc/current/contributing/code/license.html
                    </a>
                </p>
                <p>Bemerkung:<br>The MIT license is also GPL-compatible, meaning that the GPL permits
                    combination and redistribution with software that uses the MIT License.</p>
            </div>
        </div>

        <div class="frame-row">
            <div class="frame-logo">
                <img src="{{ asset('images/google_maps_logo.png') }}" alt="Google Maps Logo" height="55" width="44"/>
            </div>
            <div class="frame-left">
                <h3>Google Maps Lizenzbestimmungen</h3>
                <p>
                    Die iTixi Applikation verwendet den Google Maps API (ein kostenlose Google-Dienst mit dem
                    Google Maps in unseren frei zugänglichen Webseiten einbettet werden kann). Die Lizenbedingungen sind
                    <a href="https://developers.google.com/maps/licensing?hl=de">hier</a> ersichtlich.
                </p>
                <p>
                    Die iTixi Applikation beschränkt die Anzahl Abfragen pro Tag bei Google Maps API. Wenn nötig
                    wird das iTixi Projekt ein Antrag auf eine "Lizenzierung für das Google Maps API für Unternehmen für
                    gemeinnützige Organisationen" stellen
                    <a href="https://www.google.com/intl/de_ch/earth/outreach/grants/software/mapsapi.html">(link)</a>.
                </p>
            </div>
        </div>

        <div class="frame-row">
            <div class="frame-logo">
                <img src="{{ asset('images/opensource_logo.gif') }}" alt="Open Source Logo" height="38" width="44"/>
            </div>
            <div class="frame-left">
                {{ include(
                    'TixiPubAboutBundle:Default:gpl_license.html.twig'
                ) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
