<div class="dataGrid" data-gridid="{{ gridState.getGridIdentifier() }}">
    <div class="row">
        <div class="topControlWrapper">
            <div class="row">
                <div class="col-md-5 filterControl">
                    <div class="input-group">
                        <input type="text" id="{{ 'fpw_' ~ menuId ~ '_' ~ gridId ~ '_search'}}" class="form-control gridFilterInput input-sm" />
                            <span class="input-group-btn btn-group-sm">
                                <button id="{{ 'fpx_' ~ menuId ~ '_' ~ gridId ~ '_search'}}" class="btn btn-default gridFilterCommit" type="button">{% trans %}button.search{% endtrans %}</button>
                            </span>
                    </div>
                </div>
                <div class="col-md-7 text-right actionControl">
                    {% for resolvedElement in children %}
                        {% if 'datagridcustomcontrol' in resolvedElement.viewIndentifiers %}
                            {{ resolvedElement.rawData | raw }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="tableWrapper" style="margin-top:12px;">
            <table data-srcUrl="{{ gridState.getDataSrcUrl()|default('') }}" class="table table-hover">
                <thead>
                <tr>
                    {% for header in gridState.getHeaders() %}
                        <th>
                            <div class="headerWrapper">
                                <div id="{{ 'fpx_' ~ menuId ~ '_' ~ gridId ~ '_header_' ~ header.getFieldPropertyName() }}" class="header"
                                     data-fieldId="{{ header.getFieldPropertyName() }}">{{ header.getHeaderName()|trans }}</div>
                                <span class="sortIcon glyphicon"></span>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody data-totalamountofrows=0></tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 bottomControlWrapper">
            <div class="paginationControl">
                <div class="btn-group btn-group-sm">
                    <button type="button" id="{{ 'fpx_' ~ menuId ~ '_' ~ gridId ~ '_paging_first'}}" class="btn btn-default first"><<</button>
                    <button type="button" id="{{ 'fpx_' ~ menuId ~ '_' ~ gridId ~ '_paging_previous'}}" class="btn btn-default previous"><</button>
                    <button type="button" id="{{ 'fpr_' ~ menuId ~ '_' ~ gridId ~ '_paging_page'}}" class="btn btn-default pageIndication"></button>
                    <button type="button" id="{{ 'fpx_' ~ menuId ~ '_' ~ gridId ~ '_paging_next'}}" class="btn btn-default next">></button>
                    <button type="button" id="{{ 'fpx_' ~ menuId ~ '_' ~ gridId ~ '_paging_last'}}" class="btn btn-default last">>></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        var dataGridManager = new DataGridManager();
        dataGridManager.initDataGrids({{ gridConfJS | raw }});
    });
</script>
