<div class="col-md-12 drivingOrderWrapper">

    <div class="text-right">
        {% for resolvedElement in children %}
            {% if 'formcontrol' in resolvedElement.viewIndentifiers %}
                {{ resolvedElement.rawData | raw }}
            {% endif %}
        {% endfor %}
    </div>

    {{ form_start(form, {'attr':{'id':formId, 'class':'form-horizontal customForm'} }) }}
    {{ form_widget(form._token) }}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        {{ form_label(form.orderStatus, null, {'label_attr': {'style':'width:100%', 'class':'control-label' }}
                        ) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(form.orderStatus, { 'attr': {'class': 'form-control zoneName'} }) }}
                        <div class="error_message">{{ form_errors(form.orderStatus) }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        {{ form_label(form.pickupDate, null, {'label_attr': {'style':'width:100%', 'class':'control-label' }}
                        ) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_widget(form.pickupDate, { 'attr': {'class': 'form-control dateFromInput'} }) }}
                        <div class="error_message">{{ form_errors(form.pickupDate) }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        {{ form_label(form.pickupTime, null, {'label_attr': {'style':'width:100%', 'class':'control-label' }}
                        ) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_widget(form.pickupTime, { 'attr': {'class': 'form-control zoneName'} }) }}
                        <div class="error_message">{{ form_errors(form.pickupTime) }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        {{ form_label(form.lookaheadaddressFrom, null, {'label_attr': {'style':'width:100%', 'class':'control-label' }}
                        ) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(form.lookaheadaddressFrom, { 'attr': {'class': 'form-control'} }) }}
                        <div class="error_message">{{ form_errors(form.lookaheadaddressFrom) }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        {{ form_label(form.lookaheadaddressTo, null, {'label_attr': {'style':'width:100%', 'class':'control-label' }}
                        ) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(form.lookaheadaddressTo, { 'attr': {'class': 'form-control'} }) }}
                        <div class="error_message">{{ form_errors(form.lookaheadaddressTo) }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        {{ form_label(form.zoneName, null, {'label_attr': {'style':'width:100%', 'class':'control-label' }}
                        ) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(form.zoneName, { 'attr': {'class': 'form-control zoneName'} }) }}
                        <div class="error_message">{{ form_errors(form.zoneName) }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        {{ form_label(form.additionalTime, null, {'label_attr': {'style':'width:100%', 'class':'control-label' }}
                        ) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_widget(form.additionalTime, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        {{ form_label(form.compagnion, null, {'label_attr': {'style':'width:100%', 'class':'control-label' }}
                        ) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_widget(form.compagnion, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        {{ form_label(form.memo, null, {'label_attr': {'style':'width:100%', 'class':'control-label' }}
                        ) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(form.memo, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/tixiapi/js/DrivingOrder.js') }}"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            new FormValidationController('{{ formId }}');
        });
    </script>
</div>