<div class="row text-right">
    {% for resolvedElement in children %}
        {% if 'formcontrol' in resolvedElement.viewIndentifiers %}
            {{ resolvedElement.rawData | raw }}
        {% endif %}
    {% endfor %}
</div>
<div class="row">
    {{ form_start(form, {'attr':{'id':formId, 'class':'form-horizontal customForm'} }) }}
    <div class="col-md-6">
        {{ form_row(form.memo) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.anchorDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.frequency) }}
        {{ form_row(form.withHolidays) }}
    </div>
</div>
<div class="row weeklyPart">
    <div class="col-md-6">
        <div class="row">
            {{ form_row(form.weeklyDaysSelector) }}
        </div>
    </div>
    <div class="col-md-6">
        <ul class="weeklyShiftSelections"
            data-prototype="{{ form_widget(form.weeklyShiftSelections.vars.prototype)|e }}">
            {% for selection in form.weeklyShiftSelections %}
                <li>  {{ form_errors(selection) }}
                    {{ form_widget(selection) }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row monthlyPart">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.monthlyFirstWeeklySelector) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.monthlySecondWeeklySelector) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.monthlyThirdWeeklySelector) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.monthlyFourthWeeklySelector) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.monthlyLastWeeklySelector) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <ul class="monthlyShiftSelections"
            data-prototype="{{ form_widget(form.monthlyShiftSelections.vars.prototype)|e }}">
            {% for selection in form.monthlyShiftSelections %}
                <li>  {{ form_errors(selection) }}
                    {{ form_widget(selection) }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{{ form_end(form) }}
</div>
<script type="text/javascript">
    jQuery(function ($) {
        new FormMonthlyAssertionController();
    });
</script>
