{% extends '::base.html.twig' %}
{% set titleDisplayText = headerDisplayText|default('') %}
{% set titleDisplaySubText = headerDisplaySubtitleText|default('') %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 id="fpr_{{ menuId }}_title" class="text-muted">{{ headerDisplayText|trans }} {{ headerDisplaySubtitleText|trans }} </h2>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        {% for resolvedElement in children %}
            {% if 'panelfooter' not in resolvedElement.viewIndentifiers %}
                {{ resolvedElement.rawData | raw }}
            {% endif %}
        {% endfor %}
    </div>
    {% for resolvedElement in children %}
        {% if 'panelfooter' in resolvedElement.viewIndentifiers %}
            <div class="panel-footer">
                {{ resolvedElement.rawData | raw }}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}