{# src\Tixi\HomeBundle\Resources\views\Default\index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}iTixi cloud computing - home{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/sfitixi.css') }}" rel="stylesheet" type="text/css" />{% endblock %}
{% block body %}
    {% block frame %}
        <!--FRAME: with function points and anchors -->
        <div class="frame">
            <div class="frame-table">
                <div class="frame-row">
                    <div class="frame-logo">
                        <a href="{{ baseurl }}/home" id="fpm_home">
                            <img src="{{ asset('images/logo44px.png') }}" alt="Logo iTIXI" />
                        </a>
                    </div>
                    <div class="frame-left">
                        <div>
                            <a href="{{ baseurl }}/public/about" id="fpm_public_about">
                                {{ application }}&nbsp;{{ version }}
                            </a>
                        </div>
                        <div>Mandant:&nbsp;{{ customer }}</div>
                    </div>
                    <div class="frame-left">
                        <div>{{ breadcrumbs }}</div>
                    </div>
                    <div class="frame-right">
                        <a href="{{ baseurl }}/public/logout" id="fpm_public_logout">
                            <div>{{ username }}:logout</div>
                        </a>
                        <div><a href="{{ baseurl }}/home/preferences" id="fpm_home_preferences">Einstellungen</a> | <a href="{{ baseurl }}/home/support" id="fpm_home_support">Support</a> | <a href="{{ baseurl }}/home/help" id="fpm_home_help">Hilfe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <!-- MENU-BAR: with function points and anchors -->
    {% block menubar %}
        <div>
            {{ render(controller( 'TixiHomeBundle:Menutree:menuitems' )) }}
        </div>
    {% endblock %}

    <!--SUBJECT & TASK BAR: with function points and anchors -->
    <div class="subject-taskbars">
    {% block subject %}
        <div class="subject">
            <div class="subject-row">
                <div class="subject-left">
                    <div id="fpr_subject">{{ subject }}</div>
                </div>
                <div class="subject-right">
                    <a href="{{ path( routeid, {'action':'print'} ) }}" id="fpm_print">
                        <img src="{{ asset('images/printer-blue.png') }}" alt="printer" />
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block taskbar %}
        <div class="taskbar">
            <div class="taskbar-row">
                <div class="taskbar-left">
                    <form class="taskbar-filter">
                        <input id="fpw_filter" class="taskbar-left-filter-text" type="text"
                               value="{{ filter }}"
                               onfocus="if (this.value == 'Filter...') {this.value = '';}"
                               onblur="if (this.value == '') {this.value = 'Filter...';}
                                       else {location.href='{{ path( routeid, {'action':'filter', 'filter': '' } ) }}'
                                       +this.value};"/>
                        <input id="fpm_filter" class="taskbar-left-filter-button" type="button" value="Filtern"
                               onclick="location.href='{{ path( routeid, {'action':'filter', 'filter': '' } ) }}'
                                       +document.getElementById('fpw_filter').value;"/>
                    </form>
                </div>
                <div class="taskbar-right">
                    {% if mode == 'read' %}
                        <input id="fpm_add" type="button" value="Hinzuf&uuml;gen"
                           onclick="location.href='{{ path( routeid, {'action':'add'} ) }}'"/>
                        <input id="fpm_modify" type="button" value="Bearbeiten"
                           onclick="location.href='{{ path( routeid, {'action':'modify'} ) }}'"/>
                        <input id="fpm_delete" type="button" value="L&ouml;schen"
                           onclick="location.href='{{ path( routeid, {'action':'delete'} ) }}'"/>
                    {% elseif mode == 'edit' %}
                        <input id="fpm_save" type="button" value="Speichern"
                           onclick="location.href='{{ path( routeid, {'action':'save'} ) }}'"/>
                        <input id="fpm_cancel" type="button" value="Abbrechen"
                           onclick="location.href='{{ path( routeid, {'action':'cancel'} ) }}'"/>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    </div>
    {% block errormsg %}{% endblock %}

    {% block content %}{% endblock %}
{% endblock %}