{# src/Tixi/App/TeamBundle/Resources/views/Default/index.html.twig  #}
{# 28.08.2013 martin jonasse initial file                           #}
{# 03.09.2013 martin jonasse update for session variables           #}
{# 11.10.2013 martin jonasse split list and form files              #}
{# 04.11.2013 martin jonasse upgrade for cursor/$route              #}
{# 22.11.2013 martin jonasse suppress display of foreign keys (_fk) #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block content %}
{# render a list (table) for the variable mylist (array)............ #}
{% set currentroute = app.session.get('route') %}
{% set currentid = app.session.get('cursor/' ~ currentroute) %}
<div class="content-wrapper">
    <table class="ExcelTable2003" summary="Auswahlliste">
        <thead>
        <tr>
            {% for mycell in myheader %}
                {% if loop.first %}
                    <th class="heading">{{ mycell }}</th>
                {% else %}
                    {% if (mycell|slice(-3)!="_FK") %}
                        <th>{{ mycell }}</th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for myrow in myrows %}
            <tr>
                {% for mykey, mycell in myrow %}
                    {% if loop.first %}
                        {% if currentid == mycell %}
                            <td class="selected">
                        {% else %}
                            <td class="heading">
                        {% endif %}
                        <a href="{{ path( app.request.attributes.get('_route'),
                        {'action':'select', 'cursor': ''} ) }}{{ mycell }}"
                           id="fpm_select_{{ mycell }}">{{ mycell }}
                            </a>
                        </td>
                    {% else %}
                        {% if (mykey|slice(-3)!="_fk") %}
                            <td>{{ mycell }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
