<div class="dataGrid" data-gridid="{{ rowIdPrefix }}">
{% embed 'TixiApiBundle:Shared:datagrid.table.html.twig'%}
    {% block customListActionControl %}
        {% embed 'TixiApiBundle:Shared:datagrid.list.selectedAction.html.twig' %}
            {% block selectedactions %}
                <li><a data-targetSrc="{{ path('edit_vehicle_serviceplan',{'vehicleId':routeParameters[0], 'servicePlanId':'--selectionid--'}) }}" class="customActionWithSelection" href="#">Editieren</a></li>
                <li class="divider"></li>
                <li><a data-targetSrc="{{ path('edit_vehicle_serviceplan',{'vehicleId':routeParameters[0], 'servicePlanId':'--selectionid--'}) }}" class="customActionWithSelection" href="#">Löschen</a></li>
            {% endblock %}
        {% endembed %}
        <button type="button" class="btn btn-primary customAction" data-targetSrc="{{ path('new_vehicle_serviceplan', {'vehicleId':routeParameters[0]}) }}">Neuer Serviceplan</button>
    {% endblock %}
{%  endembed %}
</div>

{% block javascriptscustom %}
    <script type="text/javascript">
        jQuery(function($) {
            var dataGridManager = new DataGridManager(),
                    conf = {
                        'serviceplans' : {
                            'dblClickCallback' : function(rowId) {
                                var _url = '{{ path('get_vehicle_serviceplan',{'vehicleId':routeParameters[0], 'servicePlanId':'--servicePlanId--'}) }}';
                                _url = _url.replace('--servicePlanId--',rowId);
                                window.location = _url;
                            },
                            'isEmbedded' : true
                        }
                    };
            dataGridManager.initDataGrids(conf);
        });
    </script>
{% endblock %}