{# src/Tixi/App/TeamBundle/Resources/views/Default/index.html.twig #}
{# 28.08.2013 martin jonasse initial file #}
{# 03.09.2013 martin jonasse update for session variables #}
{# 11.10.2013 martin jonasse split list and form files #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block content %}
{# render a list (table) for the variable mylist (array)............ #}
{% set currentid = app.session.get('cursors')[app.session.get('route')] %}
<div class="content-wrapper">
    <table class="ExcelTable2003" summary="Auswahlliste">
        <thead>
        <tr>
            {% for mycell in myheader %}
                {% if loop.first %}
                    <th class="heading">{{ mycell }}</th>
                {% else %}
                    <th>{{ mycell }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for myrow in myrows %}
            <tr>
                {% for mycell in myrow %}
                    {% if loop.first %}
                        {% if currentid == mycell %}
                            <td class="selected">
                        {% else %}
                            <td class="heading">
                        {% endif %}
                                <a href="{{ path( app.request.attributes.get('_route'),
                                    {'action':'select', 'cursor': ''} ) }}{{ mycell }}"
                                    id="fpm_select_{{ mycell }}">{{ mycell }}
                                <a>
                        </td>
                    {% else %}
                        <td>{{ mycell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
