{####### Own types #######}
{% block datePicker_widget %}
    {% set attr = attr|merge({'class': ((attr.class|default('') ~ ' jqueryDatePicker form-control')|trim)}) %}
    <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock datePicker_widget %}

{% block dateTimePicker_widget %}
    <div class="row">
        <div class="col-md-8">
            {{ form_widget(form.date, {'id' : id ~ '_date'}) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(form.time) }}
        </div>
    </div>
{% endblock dateTimePicker_widget %}

{% block drivingOrderTime_widget %}

        <div class="col-md-2">
            {{ form_label(form.outwardTime, null, {'label_attr': {'style':'width:100%', 'class':'control-label repeatedTimeWidget' }}
            ) }}
        </div>
        <div class="col-md-3">
            <div class="form-group has-feedback outwardTimeWrapper">
            {{ form_widget(form.outwardTime, { 'attr': {'class': 'form-control'} }) }}
                <span class="glyphicon form-control-feedback"></span>
             </div>
        </div>
        <div class="col-md-2">
            {{ form_label(form.returnTime, null, {'label_attr': {'style':'width:100%', 'class':'control-label repeatedTimeWidget' }}
            ) }}
        </div>
        <div class="col-md-3">
            <div class="form-group has-feedback returnTimeWrapper">
            {{ form_widget(form.returnTime, { 'attr': {'class': 'form-control'} }) }}
                <span class="glyphicon form-control-feedback"></span>
                </div>
        </div>
{% endblock drivingOrderTime_widget %}

{% block addresslookahead_widget %}
    {% set lookaheadId = 'lookahead_' ~ form.vars.lookaheadId %}
    <script src="{{ asset('bundles/tixiapi/js/GoogleMapWrapper.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ form.vars.googleMapsApiKey }}&sensor=false"></script>
    <div class="col-md-12">
        <div class="{{ lookaheadId }}" data-datasrc="{{ form.vars.dataSrc }}">
            <div class="googleMapCanvasWrapper">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="geocodeInputWrapper">
                            <div class="input-group">
                                <input type="text" class="form-control geocodeInput" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default geocodeInputButton" type="button">Go!</button>
                                    </span>
                            </div>
                        </div>
                        <div class="googleMapCanvas"></div>
                    </div>
                </div>
            </div>
            <div class="lookaheadWrapper">
                <div class="userHomeLinkWrapper">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="row">
                    {{ form_widget(form.addressDisplayName, { 'attr': {'class': 'lookaheadInput','autocomplete' : 'off'} }) }}
                    <a href="#" class="editManually">Adresse manuell editieren</a>
                </div>
                <div class="row addressSelectionsWrapper">
                    <div class="col-md-12">
                        <ul class="addressSelectionsContainer list-unstyled" />
                    </div>
                </div>
            </div>
            <div class="addressContainerWrapper">
                {{ form_widget(form.addressHandle, { 'attr': {'class': 'addressContainer'} }) }}
                <div class="row">
                    <a href="#" class="cancelManualAdd">Abbrechen</a> <a href="#" class="saveManualAdd" style="margin-left: 15px;">Speichern</a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function ($) {
                {% if not form.vars.lateInit %}
                    var lookahead = new AddressLookahead();
                    lookahead.init('{{ lookaheadId }}');
                {% endif %}
            });
        </script>
    </div>
{% endblock %}

{% block textOnly_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ((attr.class|default(''))|trim)}) %}
        <span {{ block('widget_attributes') }}>
        {% if value is not empty %}
            {{ value }}
        {% endif %}
    </span>
    {% endspaceless %}
{% endblock textOnly_widget %}

{% block textOnlyTranslated_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ((attr.class|default(''))|trim)}) %}
        <span {{ block('widget_attributes') }}>
        {% if value is not empty %}
            {{ value|trans }}
        {% endif %}
    </span>
    {% endspaceless %}
{% endblock textOnlyTranslated_widget %}

{####### Customized default types #######}
{% block form_row %}
    {% spaceless %}
        <div class="row">
            <div class="form-group">
                {{ form_label(form, null, {'label_attr': {'class':'col-md-4 control-label' }}) }}
                <div class="col-md-8">
                    <div>{{ form_widget(form) }}</div>
                    <div class="error_message">{{ form_errors(form) }}</div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% set attr = attr|merge({'class': ((attr.class|default('') ~ ' form-control')|trim)}) %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ((attr.class|default('') ~ ' form-control')|trim)}) %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block submit_widget %}
    <div class="row">
        {% spaceless %}
            {% set type = type|default('submit') %}
            {% set attr = attr|merge({'class': ((attr.class|default('') ~ ' btn btn-primary col-md-2 col-md-offset-10')|trim)}) %}
            {{ block('button_widget') }}
        {% endspaceless %}
    </div>
{% endblock submit_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <label class="{% if multiple %}checkbox-inline{% else %}radio-inline{% endif %}">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}
