{% block form_row %}
    {% spaceless %}
        <div class="row">
            <div class="form-group">
                {{ form_label(form, null, {'label_attr': {'class':'col-md-4 control-label'}}) }}
                <div class="col-md-8">
                    {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
                    <p class="help-block">{{ form_errors(form) }}</p>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block submit_widget %}
    <div class="row">
    {% spaceless %}
        {% set type = type|default('submit') %}
        {% set attr = {'class':'btn btn-primary col-md-2 col-md-offset-10'} %}
        {{ block('button_widget') }}
    {% endspaceless %}
    </div>
{% endblock submit_widget %}

{% block datepicker_widget %}
    {%  set attr = attr|merge({'class': ((attr.class|default('') ~ ' jqueryDatePicker')|trim)}) %}
    <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {#<input type="text" class="jqueryDatePicker form-control" {% if value is not empty %}value="{{ value }}" {% endif %}/>#}
{% endblock datepicker_widget %}